.container-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 100vw;
    height: 280px;

    padding: 35px 276px 10px 280px; 

    background-color: #FFFFFF;
}

.logo {
    display: flex;
    align-items: center;

    margin-bottom: 50px;
}

.logo h1 {
    margin-left: 20px;
}

.empresa-contato {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 900px;
}

.contato {
    display: flex;
   
    gap: 50px;
}

.sao-paulo h4, .rio-de-janeiro h4, .empresas-parceiras h4 {
    color: #202020;

    font-family: Montserrat;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
}

.sao-paulo span, .rio-de-janeiro span {
    color: #202020;

    font-family: Montserrat;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;

    opacity: 0.5;
}

.empresas-parceiras h4  {
    margin-bottom: 50px;
}

.empresas-parceiras {
    display: flex;
    flex-direction: column;
}

.empresas div {
    display: flex;
    justify-content: space-around;
    align-items: center;

    gap: 20px;
}
