* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  padding-top: 30px;

  background-image: linear-gradient(rgba(255,255,255,.95), rgba(255,255,255,.95)), url("../public/assets/background-image.jpg");
  background-size: cover;
}

