* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  padding-top: 30px;


  background-image: linear-gradient(#fffffff2, #fffffff2), url("../public/assets/background-image.jpg");
  background-size: cover;
}