.imagemRoxaSuperior, .imagemVerdeSuperior {
    width: 800px;

    position: absolute;
    top: 0;
    right: 0;

    z-index: -2;
}

.imagemRoxaLateral {
    width: 400px;

    position: absolute;
    top: 1700px;
    left: 0;

    z-index: -2;
}

.imagemVerdeLateral {
    width: 300px;

    position: absolute;
    top: 1800px;
    left: 0;

    z-index: -2;
}