@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic');

@import url('https://fonts.googleapis.com/css?family=Elsie+Swash+Caps:regular,900');

.passo {
    display: flex;
    align-items: center;

    margin: 50px 120px 100px 400px;
}

.passo-texto {
    display: flex;
    flex-direction: column;

    width: 800px;
}

.passo-texto h4 {
    color: #202020;

    font-family: Elsie Swash Caps;
    font-weight: 900;
    font-size: 24px;
    line-height: 41px;
}

.passo-texto span {
    color: #202020;

    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;

    opacity: 0.5;
}

.status {
    position: relative;
}

.check {
    margin-right: 40px;    
}

.ok {
    position: absolute;
    top: 10px;
    left: 20px;
}

.hidden {
    display: none;
}