.header {
    display: flex;
    justify-content: space-between;

    width: 100%;

    margin-right: 20px;
}

.imagem-roxa-superior, .imagem-verde-superior {
    width: 700px;

    position: absolute;
    top: 0;
    right: 0;

    z-index: -2;
}

.logo-titulo a {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-left: 200px;

    text-decoration: none;
}

.logo-imagem {
    width: 33px;
    height: 39px;
}

.logo-titulo h1 {
    margin-left: 20px;
    
    color: #202020;

    font-family: Montserrat;
    font-weight: normal;
    font-size: 25px;
    line-height: 27px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu a {
    margin-right: 38px;

    text-decoration: none;

    color: #000000;
    
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

a:hover {
    color: #ee06e666;
}
